* {
  padding: 0;
  margin: 0;
}
body {
  background: #e6f4fd;
  font-family: 'Roboto', sans-serif;
}

.list-form {
  background: #fff;
  padding:  0px 15px 15px 15px;

  .list-item {
    padding: 5px;

    p {
      padding: 3px;
      background: rgba(75, 214, 248, 0.6);
      border-radius: 20px;
    }
  }
}